{% extends "../base.html" %}

{% block title %}
Player
{%  endblock %}

{% block content %}
    <header>
        <h1>Welcome {{ user.username }}!</h1>
    </header>

     <section>
     <h3>Active game</h3>
        <div>
            {% for g in games %}
                <li>
                    <a href="{{ g.get_absolute_url }}">
                        {{ g.first_player }} vs {{ g.second_player }}
                    </a>
                </li>
            {% endfor %}
        </div>

        <p>Click bellow to invite someone to play with you</p>
        <p><a href="{% url 'player_new_invitation' %}">Start a game 🙂</a> </p>
     </section>

{#    <section>#}
{#        <a href="{% url 'player_new_invitation' %}">#}
{#            Invite another user to play a game #}
{#        </a>#}
{#    </section>#}


    <footer>
    <h3>Invitations</h3>

        {% if invitations %}
            <div>
                {% for inv in invitations %}
                    <a href="{% url 'player_accept_invitation' id=inv.id %}">
                        {{ inv.form_user.username }} has invited you to a game! Click here.
                    </a>
                {% endfor %}
            </div>

        {% else %}
            <p>You have no invitations yet.</p>
        {% endif %}
    </footer>

{% endblock %}
