{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content_log %}

    <form role="form"
          action="{% url 'player_login' %}"
          method="post">

        {# Required: `csrf_token` has to be in the form for security #}
        {% csrf_token %}

        <p>Please login.</p>

        {# Render the form to the output for user Username, Password fields #}
        {{ form }}

        <button type="submit" class="btn">Sing in</button>

    </form>

{% endblock %}
